:root {
    --red-color: #b3332a;
    --green-color: #40643E;
    --bg-color: #0d1b2a;
    --table-color: #1B263B;
    --light-bg-color: #3f5573;
    --text-color: #e0e1dd9b;
}


/* Basic styling======================================================================  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    user-select: none;
}

/* Basic styling======================================================================  */

/* Header styling======================================================================  */
header {
    width: 100%;
    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header button{
    background-color: var(--green-color);
    padding: 0.5rem 1rem ;
    cursor: pointer;
    outline: none;
    border: none;
    color: white;
    border-radius: 10px;
}

header h1 {
    font-size: 1.5rem;
    font-family: monospace;
}

/* Header styling======================================================================  */

main {
    padding: 2rem;
}

/* Command box styling======================================================================  */
#command-input-container {
    padding: 2rem 0;
    display: flex;
    align-items: center;
}

#command-input {
    margin: 1rem 0;
    width: 600px;
    border: none;
    padding: 0.5rem 1rem;
    outline: none;
    background-color: transparent;
    border-bottom: 1.5px solid var(--light-bg-color);
    color: var(--text-color);
}

#run-btn {
    margin-left: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    color: white;
    background-color: var(--green-color);
    border-radius: 5px;
    cursor: pointer;
}

/* Command box styling======================================================================  */

/* Data container styling======================================================================  */
#data-container {
    display: flex;
}

/* Table name styling======================================================================  */
#table-name-container {
    max-width: 20%;
    width: 20%;
    padding: 1rem 0;
}

#table-name-container h3 {
    font-size: 1.5rem;
    letter-spacing: 2px;
    margin-bottom: 1rem;
}

#table-name-container ul {
    padding-left: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.table-name {
    list-style-type: none;
    cursor: pointer;
    user-select: none;
}

.table-name:hover {
    text-decoration: underline;
}

/* Table name styling======================================================================  */


/* Table data ====================================================================== */
#table-data-container {
    padding: 1rem;
    max-width: 80%;
    height: 600px;
    width: 80%;
    overflow: scroll;
    background-color: var(--table-color);
}

.error-msg {
    color: var(--red-color);
}

.success-msg {
    color: var(--green-color);
}

#table-data-container h2 {
    margin-bottom: 1rem;
}

#table-data-container::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
    height: 5px;
}

#table-data-container::-webkit-scrollbar-thumb {
    background-color: gray;
    cursor: pointer;
}

#table-data-container::-webkit-scrollbar-thumb:hover {
    background-color: white;
    width: 10px;
    height: 10px;
}

#table-data-container::-webkit-scrollbar-corner {
    display: none;
}


#table-data {
    font-size: 1rem;
    border: 1px solid white;
    border-collapse: collapse;
}

.table-columns {
    background-color: whitesmoke;
    border: 1px solid var(--bg-color) !important; 
    color: var(--bg-color);
}

#table-data tr:nth-child(2n) {
    background-color: var(--light-bg-color);
}

#table-data th,
#table-data td {
    max-width: 300px;
    padding: 0.5rem 1rem;
    border: 1px solid white;
}

/* Table data ====================================================================== */


/* Data container styling======================================================================  */


/* Footer styling======================================================================  */
footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem 0;
    gap: 1rem;
}

footer div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}


/* Footer styling======================================================================  */


/* Help section  styling======================================================================  */
#help-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vmin;
    background-color: var(--bg-color);
    z-index: 10;
    padding: 1rem;
    overflow-y: auto;
}

#cross-icon {
    height: 30px;
    width: 30px;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 2rem;
}

.help-table {
    width: 100%;
    height: 100%;
    margin-top: 5rem;
    border-collapse: collapse;
    overflow: scroll;
}

#help-container::-webkit-scrollbar {
    background-color: transparent;
    width: 5px;
    height: 5px;
}

#help-container::-webkit-scrollbar-thumb {
    background-color: gray;
    cursor: pointer;
}

#help-container::-webkit-scrollbar-thumb:hover {
    background-color: white;
    width: 10px;
    height: 10px;
}

#help-container::-webkit-scrollbar-corner {
    display: none;
}
.help-table-head tr th{
    background-color: var(--text-color);
    color: var(--bg-color);
    border: 1px solid var(--bg-color);
}
.custom{
    cursor: pointer;
}

.help-table td,
.help-table th {
    max-width: 300px;
    padding: 1rem 1.5rem;
    border: 1px solid white;
}

/* Help section  styling======================================================================  */


/* Preloader styling======================================================================  */
#preloader {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-color);
    z-index: 50;
}


.loader {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 6rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.loader:before,
.loader:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    animation: pulsOut 1.8s ease-in-out infinite;
    filter: drop-shadow(0 0 1rem rgba(255, 255, 255, 0.75));
}

.loader:before {
    width: 100%;
    padding-bottom: 100%;
    box-shadow: inset 0 0 0 1rem #fff;
    animation-name: pulsIn;
}

.loader:after {
    width: calc(100% - 2rem);
    padding-bottom: calc(100% - 2rem);
    box-shadow: 0 0 0 0 #fff;
}

@keyframes pulsIn {
    0% {
        box-shadow: inset 0 0 0 1rem #fff;
        opacity: 1;
    }

    50%,
    100% {
        box-shadow: inset 0 0 0 0 #fff;
        opacity: 0;
    }
}

@keyframes pulsOut {

    0%,
    50% {
        box-shadow: 0 0 0 0 #fff;
        opacity: 0;
    }

    100% {
        box-shadow: 0 0 0 1rem #fff;
        opacity: 1;
    }
}

/* Preloader styling======================================================================  */